
body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	color: #8E8E8E;
	background: url("http://www.awesomeshield.com/files/theme/body-bg.jpg?1423772312") repeat scroll center top transparent;
}

a {
	color: #EB4747;
}

.tutorial {
	background: white;
	padding: 30px;
	margin: 10px auto;
	width: 700px;
}

code {
	display: block;
	background: none repeat scroll 0% 0% #EEE;
	border: 1px solid #DDD;
	padding: 0px 3px;
	font-style: normal;
	color: #333;
}

p code {
	display: inline-block;
}

p img {
	float: right;
	width: 300px;
}

p {
	overflow: hidden;
	position: relative;
};